#help{
  width:350px;
  height:auto;
}

#helpme{
  width:350px;
  height:auto;
}

#pic3{
  width:300px;
  height:auto;
}

#pic4{
  width:360px;
  height:auto;
}

#pic5{
  width:300px;
  height:auto;
}

h1{
  color:white;
  background-color:#2F2FA2;
}

body{
  background: white;
  color: black;
}
