#Ramya{
  width:500px;
  height: 500px;
}

#pic1{
  width:300px;
  height:200px;
}

#gianna{
  width:300px;
  height:300px;
}

#Sophia{
  width:300px;
  height:300px;
}

#sara{
  width:500px;
  height:200px;
}
