#ramya{
  width:300px;
  height:200px;
}

#pic1{
  width:400px;
  height:300px;
}

#gianna{
  width:300px;
  height:200px;
}

#sophia{
  width:300px;
  height:200px;
}

#sara{
  width:300px;
  height:200px;
}
