#ramya{
  width:300px;
  height: 300px;
}

#pic1{
  width:300px;
  height:200px;
}

#gianna{
  width:300px;
  height:300px;
}

#Sophia{
  width:300px;
  height:300px;
}

#sara{
  width:250px;
  height:300px;
}
